service cloud.firestore {
  match /databases/{database}/documents {
  	match /Posts/{postId}{
    	allow create;
      allow write;
      allow update, delete: if(/databases/$(database)/documents/Users/$(request.auth.uid)).data.level== "maintainer";
      allow read;
    }
  	
    match /Users/{document=**}{
    	allow delete, update: if(/databases/$(database)/documents/Users/$(request.auth.uid)).data.level == "maintainer";
      allow write, read;
    }
    match /TeamPost/{document=**}{
    	allow write, read;
      allow delete: if resource.data.uid == request.auth.uid;
    }
  }
}