service cloud.firestore {
  match /databases/{database}/documents {
  	match /{collections = **}{
//     user level의 권한이 maintainer 일 때만 작성 수정 삭제 부여
    	allow write, update, delete: if (/databases/$(database)/documents/Users/$(userId)).data.level == "maintainer";
//       모든 user에게 읽기 권한 부여
      allow read;
      }
  }
}